<% # how do I set <td class="alt"></td> on every other row? %>
<% div_for(comment) do %>
  <tr>
	<td class='big'><%=h comment.votes.size %></td>
	<td><b><%= link_to (h comment.title), comment %></b></td>
    <td><%=h comment.body %></td>
  </tr>
<% end %>